body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bi-trash{
  color: red;
}
.col2{
margin-left: -1050px;
margin-top: -0px;
}
.bi-person-circle{
  font-size: 30px;
}
.col2{
  border-bottom: 1px solid red;
  width: 100px;
 
}
button{
  margin-left: 20px;
}
